In [1]:
pip install BVCscrap
import BVCscrap as bvc

In [2]:
cours=bvc.getCours("BOA") 
cours.keys()

dict_keys(['Données_Seance', 'Meilleur_limit', 'Dernieres_Tansaction', 'Seance_prec'])

In [3]:
cours["Données_Seance"]

{'Capitalisation': '41121329600.00',
 'Cours': '200.00',
 'Cours de cloture veille': '202.00',
 'Devise de cotation': 'MAD',
 'Nombre de titres': '205606648',
 'Ouverture': '205.00',
 'Plus bas': '200.00',
 'Plus haut': '205.00',
 'Variation': '-0.99  ',
 'Volume': '2273925.50',
 'Volume en titres': '11311'}

In [4]:
cours['Meilleur_limit']

{'Prix achat': '198.00',
 'Prix de vente': '204.90',
 'Quantite_achat': '1000.00',
 'Quantite_vente': '20.00'}

In [6]:
import pandas as pd
pd.DataFrame(cours["Seance_prec"])

         Date Variation Cloture      Volume Ouverture Plus_haut Plus_bas
0  18/03/2022     -0.99  200.00  2273925.50    205.00    205.00   200.00
1  17/03/2022      1.00  202.00  1732918.40    199.95    202.00   199.95
2  16/03/2022      0.00  200.00  1002227.40    196.50    200.00   195.55
3  15/03/2022      1.78  200.00   151622.15    199.95    200.00   197.50
4  14/03/2022      0.77  196.50    92093.00    200.00    200.00   196.00

In [7]:
pd.DataFrame(cours["Dernieres_Tansaction"])

       Heure    Prix Quantite
0   15:30:52  200,00       35
1   15:30:52  200,00     4646
2   15:30:52  200,00        9
3   15:30:52  200,00      100
4   15:30:52  200,00       50
5   15:30:52  200,00     1494
6   14:33:42  202,00      500
7   14:33:42  202,00      791
8   14:33:42  202,00     2375
9   14:16:53  204,90        1
10  12:54:13  202,50       10
11  12:54:13  202,00        3
12  12:54:13  202,00      500
13  12:54:13  202,00      209
14  09:31:51  204,95        3
15  09:31:33  204,95        5
16  09:30:42  205,00        5
17  09:30:36  205,00       10
18  09:30:36  205,00      400
19  09:30:36  205,00       10

In [8]:
indicateur=bvc.getKeyIndicators('BOA')
indicateur.keys()

dict_keys(['Info_Societe', 'Actionnaires', 'Chiffres_cles', 'Ratio'])

In [9]:
indicateur['Info_Societe']

{'Commissaire_aux_comptes': 'ERNST & YOUNG et KPMG',
 'Date_de_constitution': '31/08/1959',
 'Date_introduction': '16/06/1975',
 'Durée_Exercice_Social': '12',
 'ISIN': 'MA0000012437',
 'Objet_social': 'Toutes Opérations de Banque.\xa0',
 'Raison_sociale': 'BANK OF AFRICA',
 'Secteur_activité': 'Banques',
 'Siege_social': '140. Avenue Hassan II . Casablanca',
 'Ticker': 'BOA  '}

In [10]:
indicateur["Actionnaires"]

{'BANQUE FEDERATIVE DU CREDIT MUTUEL': '24.5576',
 'CDC Group PLC': '5.3774',
 'CDG (Caisse de Dépôt et de Gestion)': '8.3211',
 'CIMR': '3.9341',
 'DIVERS ACTIONNAIRES ': '16.1990',
 'Groupe MCMA-MAMDA': '5.0147',
 'O CAPITAL GROUP': '8.0299',
 'Personnel': '1.0918',
 'RMA WATANYA': '26.5937',
 'SFCM': '0.8807'}

In [12]:
pd.DataFrame(indicateur['Chiffres_cles']).T

                                 0            1            2
Annee                         2020         2019         2018
Comptes_consolide              Oui          Oui          Oui
Capital_social          2056066480   1998204600   1794633900
Capitaux_propres       27980530000  27796102000  23841511000
Nombre_titres            205606648    199820460    179463390
Produit Net bancaire   14002045000  13860603000  13233468000
Resultat_exploitation   1749989000   3599386000   3584281000
Resultat_net             737832000   1921510000   1831170000

In [13]:
pd.DataFrame(indicateur['Ratio']).T

                     0      1      2
Annee             2020   2019   2018
BPA               3,59   9,62  10,20
ROE               2,64   6,91   7,68
Payout          139,33  52,00  49,00
Dividend_yield    3,21   2,60   2,73
PER              43,46  19,97  17,94
PBR               1,15   1,38   1,38

In [14]:
dividends=bvc.getDividend("BOA")
pd.DataFrame(dividends)

   Annee Montant_Dividende Type_Dividende Date_detachement Date_paiement
0   2020              5,00      Ordinaire       15/07/2021    29/07/2021
1   2019              5,00      Ordinaire       10/08/2020    28/09/2020
2   2018              5,00      Ordinaire       03/07/2019    15/08/2019
3   2017              5,00      Ordinaire       29/06/2018    10/07/2018
4   2016              5,00      Ordinaire       30/06/2017    11/07/2017
5   2015              5,00      Ordinaire       29/06/2016    13/07/2016
6   2014              4,40      Ordinaire       30/06/2015    09/07/2015
7   2013              4,00      Ordinaire       30/06/2014    09/07/2014
8   2012              3,30      Ordinaire       28/06/2013    09/07/2013
9   2011              3,00      Ordinaire       29/06/2012    10/07/2012
10  2010              3,00      Ordinaire       30/06/2011    11/07/2011
11  2009              3,00      Ordinaire       30/06/2010    09/07/2010
12  2008              3,00      Ordinaire       30/06/2009    09/07/2009
13  2007              3,00      Ordinaire       30/06/2008    09/07/2008
14  2006             25,00      Ordinaire       01/07/2007    01/07/2007
15  2005             20,00      Ordinaire       03/07/2006    03/07/2006
16  2004             16,00      Ordinaire       01/07/2005    01/07/2005
17  2003             15,00      Ordinaire       01/07/2004    01/07/2004
18  2002             15,00      Ordinaire       01/07/2003    01/07/2003

In [16]:
index=bvc.getIndex()
index.keys()

dict_keys(['Resume indice', 'Indice rentabilite', 'Indices en devises', 'Indice FTSE', 'Indices sectoriels'])

In [19]:
pd.DataFrame(index["Resume indice"]).T

,Valeur,Veille,Var %,Plus Haut,Plus Bas,Var % 31/12,Ouverture
Morocco Stock Index 20,"1041,54","1045,46","-0,37 %","1049,75","1040,68","-4,07 %",NaN
MASI,"12877,80","12935,51","-0,45 %","12983,44","12865,86","-3,60 %","12935,51"
Casablanca ESG 10,"968,34","976,63","-0,85 %","979,36","968,34","-2,97 %","976,63"
FTSE CSE Morocco 15 Index,"11887,68","11926,01","-0,32 %","11964,33","11880,56","-5,19 %","11944,13"
FTSE CSE Morocco All-Liquid,"10833,53","10866,02","-0,30 %","10906,27","10833,53","-3,67 %","10885,48"

In [20]:
pd.DataFrame(index["Indices sectoriels"]).T

,Valeur,Var%,Var% 31/12
SYLVICULTURE & PAPIER,"31,96","5,95 %","7,23 %"
ELECTRICITE,"2458,10","4,07 %","4,76 %"
SOCIETE DE FINANCEMENT & AUTRES ACTIVITES FINANCIERES,"9156,25","1,09 %","3,42 %"
TELECOMMUNICATIONS,"1928,56","1,00 %","-5,77 %"
"MATERIELS,LOGICIELS & SERVICES INFORMATIQUES","2558,29","0,94 %","-7,41 %"
SOCIETES DE PLACEMENT IMMOBILIER,"1094,11","0,91 %","9,29 %"
AGROALIMENTAIRE / PRODUCTION,"35089,11","0,23 %","-5,25 %"
BATIMENT & MATERIAUX DE CONSTRUCTION,"19409,52","0,05 %","-9,85 %"
SOCIETES DE PORTEFEUILLES - HOLDINGS,"4795,29","0,02 %","-4,25 %"
SERVICES AUX COLLECTIVITES,"1104,17",-,"12,26 %"
SERVICES DE TRANSPORT,"4153,85",-,"-3,54 %"
DISTRIBUTEURS,"46619,28","-0,01 %","-2,53 %"
PETROLE & GAZ,"19999,91","-0,05 %","-6,89 %"
BOISSONS,"16636,12","-0,53 %","3,80 %"
CHIMIE,"7007,04","-0,57 %","11,09 %"
ASSURANCES,"5464,99","-0,79 %","-1,03 %"
MINES,"28843,49","-0,91 %","12,64 %"
BANQUES,"13789,69","-1,78 %","-2,24 %"
TRANSPORT,"2294,46","-2,07 %","-10,45 %"
INDUSTRIE PHARMACEUTIQUE,"8572,01","-2,98 %","3,35 %"
PARTICIPATION ET PROMOTION IMMOBILIERES,"3179,94","-3,69 %","-7,47 %"
INGENIERIES & BIENS DâEQUIPEMENT INDUSTRIELS,"135,78","-4,98 %","12,53 %"
LOISIRS ET HOTELS,"461,61","-5,07 %","-7,06 %"

In [21]:
pd.DataFrame(bvc.getPond())

,Code Isin,Instrument,Nombre de titres,Cours,Facteur flottant,Facteur plafonnement,Capitalisation flottante,Poids
0,MA0000012445,ATTIJARIWAFA BANK,215140839,"477,95","0,30","1,00","30847969200,02","0,1834"
1,MA0000011488,ITISSALAT AL-MAGHRIB,879095340,"130,10","0,20","1,00","22874060746,80","0,1360"
2,MA0000012320,LAFARGEHOLCIM MAR,23431240,"1919,00","0,30","1,00","13489364868,00","0,0802"
3,MA0000011884,BCP,203312473,"268,00","0,20","1,00","10897548552,80","0,0648"
4,MA0000012437,BANK OF AFRICA,205606648,"202,00","0,25","1,00","10383135724,00","0,0617"
...,...,...,...,...,...,...,...,...
69,MA0000011595,REALISATIONS MECANIQUES,320000,"155,50","0,20","1,00","9952000,00","0,0001"
70,MA0000011686,TIMAR,301100,"134,00","0,20","1,00","8069480,00","0,0000"
71,MA0000011132,IB MAROC.COM,417486,"35,02","0,45","1,00","6579161,87","0,0000"
72,MA0000010571,ZELLIDJA S.A,572849,"80,00","0,10","1,00","4582792,00","0,0000"
73,MA0000010993,REBAB COMPANY,176456,"110,00","0,20","1,00","3882032,00","0,0000"

In [22]:
recap=bvc.getIndexRecap()
recap.keys()

dict_keys(['Indice', 'Volume Global', 'Plus forte hausse', 'Plus forte baisse'])

In [26]:
pd.DataFrame(recap['Indice']).T

                      Cours      Var%  Var31/12
MSI20               1041,54  -0,37 %   -4,07 %
MASI Flottant      12877,80  -0,45 %   -3,60 %
Casablanca ESG 10    968,34  -0,85 %   -2,97 %